.deviceview {
	box-sizing: content-box;
	display: grid;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 10px;
	grid-auto-columns: 20px;
	grid-auto-rows: 20px;
	grid-gap: 2px;
	grid-auto-flow: column;
	margin-bottom: 10px;
	min-height: 0;
	min-width: 0;
	height: 42px;
	 width: 702px;
	margin: auto;
	overflow: hidden;
}

.deviceview a {
	margin: 0;
	border: 1px solid #ccc;
	border-radius: 3px;
	text-align: center;
	text-decoration: none;
}

.deviceview a:hover {
	transform: scale(1.2);
}

.deviceview a img {
	float: left;
}

.deviceview a i {
	display: grid;
}

.device-view-tooltip {
	opacity: 1 !important;
}

.device-view-tooltip .tooltip-inner {
	max-width: 300px;
}

.port-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pushes port number to bottom if space allows */
    align-items: center; /* Centers items horizontally */
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.port-line {
    display: block; /* Each line takes full width available in its context */
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.port-line-display-option {
    font-size: 0.6em; /* Slightly larger font for the main display option */
    font-weight: bold;
    flex-shrink: 0; /* Prevent shrinking */
}

.port-line-hostname,
.port-line-interface {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace; /* Sans-serif monospace */
    font-size: 0.8em;
    flex-shrink: 0; /* Prevent shrinking */
}

.port-line-number {
    border: 1px solid #777; /* Box border for port number */
    padding: 0px 2px;      /* Small padding */
    margin-top: auto;      /* Pushes to the bottom */
    align-self: center;  /* Center itself if it's narrower than container */
    line-height: 1.2;
    font-size: 0.6em;
    background-color: rgba(0,0,0,0.1); /* Slight background to distinguish */
    border-radius: 2px;
    flex-shrink: 0; /* Prevent shrinking */
    max-width: 90%; /* Ensure it doesn't overflow too much */
    box-sizing: border-box;
}

.device-view-port.nocolor {
	background: repeating-linear-gradient(
					-45deg,
					grey,
					grey 5px,
					black 5px,
					black 10px
				  );
}
