{% extends 'dcim/device/base.html' %}
{% load render_table from django_tables2 %}
{% load buttons %}
{% load static %}
{% load helpers %}
{% load plugins %}
{% block head %}
<link
	rel="stylesheet"
	href="{% static 'netbox_device_view/css/device_view.css' %}"
/>
<style>
	{% autoescape off %}
	{% for id, ddv in dv.items %}
	{{ ddv }}
	{% endfor %}
	{% endautoescape %}
	{% if height %}
	
	.deviceview {
		height:{{ height }}px;
	}
	{% endif %}
	{% if display_size == "large" %}
	.deviceview { 
		grid-auto-columns: 40px;
		grid-auto-rows: 40px;
		height: 84px;
		width: 1404px;
	}
	{% endif %}
</style>
{% endblock %}
{% block content %}
<div class="card">
	<div class="card-body htmx-container">
		{% spaceless %} {% for device, interfaces in ports_chassis.items %} Device
		{{device}}
		<div
			class="deviceview area d{{device}}{% for sw, modules in modules.items %}{% if sw == device %}{% for module in modules %} module{{module.module_type.model}}{% endfor %}{% endif %}{% endfor %}"
		>
			{% for int in interfaces %}
			<a
				href="{{int.get_absolute_url}}trace/"
				class="device-view-port 
				{% if cable_colors == "on" and int.cable.color == "" or cable_colors == "on" and int.cable == None %}
				nocolor
				{% elif cable_colors == "on" %}
				{% elif int.enabled and int.connected_endpoints|length > 0 or int.is_port and int.link_peers|length > 0 %}
				bg-success
				{% elif int.enabled %}
				bg-secondary
				{% else %}
				bg-danger
				{% endif %}"
				title="{{ int.name }}
				{% if int.connected_endpoints|length > 0 %}<hr>
					{% for ce in int.connected_endpoints %}
					{{ ce.device }} | {{ ce.name }}
					{% endfor %}
				{% elif int.link_peers|length > 0 %}<hr>
					{% for lp in int.link_peers %}
					{% if lp.device %}
					{{ lp.device }} | {{ lp.name }}
					{% elif lp.circuit %}
					{{ lp }}
					{% endif %}
					{% endfor %}
				{% endif %}
				"
				style="grid-area: {{ int.stylename }};
				{% if cable_colors == "on" and int.cable.color != "" %}
				background-color: #{{ int.cable.color }}
				{% endif %}
				"
				data-bs-toggle="tooltip"
				data-bs-html="true"
				data-bs-custom-class="device-view-tooltip"
			>
			{% if port_type == "status" %}
				{% if int.enabled and int.connected_endpoints|length > 0  or int.is_port and int.link_peers|length > 0 %}
				<span class="text-white"><i class="mdi mdi-check-bold"></i></span>
				{% elif int.enabled %}
				<span class="text-white"><i class="mdi mdi-check-bold"></i></span>
				{% else %}
				<span class="text-white"><i class="mdi mdi-close-thick"></i></span>
				{% endif %}

			<!-- this will display the first letter of the VLAN name assigned, or tags if there are trunks -->
			{% elif port_type == "vlan" %}
				{% if int.mode == "access" %}
					{% if int.untagged_vlan %}
						{% with first_letter=int.untagged_vlan.name|slice:":1"|upper  %}
						{{ first_letter }}
						{% endwith %}
					{% elif int.untagged_vlan %}
						<span class="text-white"><i class="mdi mdi-alpha-a"></i></span>
					{% endif %}					
				{% elif int.mode == "tagged" %}
					<span class="text-white"><i class="mdi mdi-tag"></i></span>
				{% elif int.mode == "tagged-all" %}
					<span class="text-white"><i class="mdi mdi-tag-multiple"></i></span>
				{% endif %}
			
			<!-- this could evaluate PSE / PD with different icons, but... for now just PoE exists or not... -->
			{% elif port_type == "poe" %}
				{% if int.poe_mode or int.poe_type %}
				<span class="text-white"><i class="mdi  mdi-power-plug"></i></span>
				{% else %}
				<span class="text-white"><i class="mdi  mdi-power-plug-off"></i></span>
				{% endif %}

			{% elif port_type == "host" %}
				{% if int.connected_endpoints|length > 0 %}
				{% for ce in int.connected_endpoints %}
				{{ ce.device }}
				{% endfor %}
				
				{% else %}
				<span class="text-white"><i class="mdi  mdi-help"></i></span>
				{% endif %}

			{% elif port_type == "type" %}
				{% if 'base-t' in int.type %}
					<span class="text-white"><i class="mdi mdi-ethernet"></i></span>
				{% elif 'base-x' in int.type or 'sfp' in int.type or 'qsfp' in int.type or 'pon' in int.type or 'oc' in int.type or 'fc' in int.type %}
					<span class="text-white"><i class="mdi mdi-laser-pointer"></i></span>
				{% elif 'ieee802' in int.type or 'gsm' in int.type or 'cdma' in int.type or 'lte' in int.type or '4g' in int.type or '5g' in int.type or 'wireless' in int.type %}
					<span class="text-white"><i class="mdi mdi-wifi"></i></span>
				{% elif 'stackwise' in int.type or 'summitstack' in int.type or 'vcp' in int.type %}
					<span class="text-white"><i class="mdi mdi-cable-data"></i></span>
				{% else %}
					<span class="text-white"><i class="mdi mdi-help"></i></span>
				{% endif %}
				
			{% endif %}
			
			<!-- large view displays port number, or maybe label-->
			{% if display_size == "large" %}
				{% with last_segment=int.name|split:"/"|last %}
					<p class="text-white">
						{% for char in last_segment %}
							{% if char in "0123456789" %}
								<small>{{ char }}</small>
							{% endif %}
						{% endfor %}
					</p>
				{% endwith %}
				
			{% endif %}
				</a>
			{% endfor %}
		</div>
		{% endfor %} {% endspaceless %}
	</div>
</div>
<div class="card">
	<div class="card-header">
		<h4>Options</h4>
	</div>
	<div class="card-body">
		<form>
			<div class="form-group mt-3">		
				<div class="form-check">
					<input onChange="this.form.submit()" type="checkbox" name="cable_colors" class="form-check-input" {% if cable_colors == "on" %}checked{% endif %} />
					<label for="cable_colors" class="form-check-label">Cable Colors</label>
				</div>
				<label for="form-check-label" class="mb-2">Port Display</label>
				<select name="port_type" id="port_type" class="form-control mb-3" onChange="this.form.submit()">
					<option value="status" {% if port_type == "status" %}selected{% endif %}>Port Status</option>
					<option value="vlan" {% if port_type == "vlan" %}selected{% endif %}>VLAN Name</option>
					<option value="host" {% if port_type == "host" %}selected{% endif %}>Host</option>
					<option value="poe" {% if port_type == "poe" %}selected{% endif %}>PoE</option>
					<option value="type" {% if port_type == "type" %}selected{% endif %}>Interface Type</option>
				</select>
				<label for="form-check-label" class="mb-2">Display Size</label>
				<select name="display_size" id="display_size" class="form-control mb-3" onChange="this.form.submit()">
					<option value="small" {% if display_size == "small" %}selected{% endif %}>Small</option>
					<option value="large" {% if display_size == "large" %}selected{% endif %}>Large</option>
				</select>				

			</div>
		</form>
	</div>
</div>
{% endblock %}
