{% extends 'dcim/device/base.html' %}
{% load render_table from django_tables2 %}
{% load buttons %}
{% load static %}
{% load helpers %}
{% load plugins %}
{% block head %}
<link
	rel="stylesheet"
	href="{% static 'netbox_device_view/css/device_view.css' %}"
/>
<style>
	{% autoescape off %}
	{% for id, ddv in dv.items %}
	{{ ddv }}
	{% endfor %}
	{% endautoescape %}
	{% if render_height %}
	.deviceview {
		height:{{ render_height }}px;
	}
	{% endif %}
	{% if display_size == "medium" %}
	.deviceview { 
		grid-auto-columns: 40px;
		grid-auto-rows: 40px;
		width: 1404px;
	}
	{% elif display_size == "large" %}
	.deviceview { 
		grid-auto-columns: 60px;
		grid-auto-rows: 60px;
		width: 2106px;
	}
	.port-info-large {
		font-size: 9px; 
		line-height: 1.1; 
		display: block; 
		text-overflow: ellipsis; /* Depends on overflow: hidden */
		white-space: nowrap; 
		text-align: center; 
	}
	.device-view-port { /* Ensure this applies to the <a> tag */
		display: flex;
		flex-direction: column;
		justify-content: center; 
		align-items: center;
		text-decoration: none; /* Prevent underline from messing with layout */
	}
	{% endif %}
</style>
{% endblock %}
{% block content %}
<div class="clearfix mb-2">
    <a href="{% url 'plugins:netbox_device_view:device_elevation' %}?site_slug={{ object.site.slug }}" class="btn btn-sm btn-primary float-end">
        <i class="mdi mdi-arrow-right-bold"></i> Show All Switches
    </a>
</div>
<div class="card">
	<div class="card-body htmx-container">
		{% spaceless %} {% for device_key, interfaces_list in ports_chassis.items %} Device
		{{ device_key }}
		{% include 'netbox_device_view/includes/_device_panel.html' with device_identifier=device_key all_modules_data=modules interfaces_for_panel=interfaces_list link_type=link_type cable_colors=cable_colors port_type=port_type display_size=display_size %}
		{% endfor %} {% endspaceless %}
	</div>
</div>
<div class="card">
	<div class="card-header">
		<h4>Options</h4>
	</div>
	<div class="card-body">
		<form>
			{% include 'netbox_device_view/includes/_options_form.html' %}
		</form>
	</div>
</div>
{% endblock %}
